// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// ヘッダー ==================================
.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: normal;
  font-size: 1em;
  padding-left: 15px;
}
